/* footer social icons */

.footer {
    background-color: #262626;
    padding: 10px 0;
    position: relative;
    align-items: center;
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

ul.social-network {
    list-style: none;
    margin-left: auto;
}

ul.social-network li {
    display: inline;
    margin: 0 10px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoMedium:hover {
    background-color: #000000;
}

.social-network a.icoQuora:hover {
    background-color: #AA2200;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoMedium:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
}

.social-circle li svg {
    margin: 0;
    text-align: center;
}

.social-circle li a:hover svg,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.social-circle svg {
    color: #262626;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle a {
    background-color: #fff;
}

@media screen and (max-width: 500px) {
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
}

@media screen and (max-width: 450px) {
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    ul.social-network li {
        display: inline;
        margin: 0 2px;
    }
    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
    }
}

.footer-logo {
    margin-left: 12px;
    height: 70px;
}
